<launch>
	<param name="robot_description" command="cat $(find test)/tf.xml" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

	<node name="usb_camera" pkg="usb_cam" type="usb_cam_node" output="screen" />
	<node name="image_proc" pkg="image_proc" type="image_proc" output="screen">
		<remap from="image_raw" to="/usb_camera/image_raw" />
		<remap from="camera_info" to="/usb_camera/camera_info" />
	</node>	

	<node name="viso" pkg="viso2_ros" type="mono_odometer" output="screen">
		<remap from="image" to="/image_rect" />
		<remap from="camera_info" to="/usb_camera/camera_info" />
		<param name="camera_height" value="0.5" />
		<param name="camera_pitch" value="0" />
	</node>	
</launch>